@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color: #f2f2f2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: black;
    min-height: 100px;
    width: auto;
}
.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 4rem;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 30px;
    color: gainsboro;
    float: left;
}
.links{
    font-size: 0.9rem;
    float: right;
    color: gray;
    margin-right: 30px;
    margin-top: 40px;
}
.links a{
    color: gray;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.links a:hover{
    color: white;
}
.about{
    min-height: 450px;
    width: 620px;
    background-color: gray;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float:left;
    position: relative;
    z-index: 2;
}
.aboutdrawing{
    min-height: 450px;
    width: 800px;
    background-color: gray;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float:left;
    position: relative;
    z-index: 2;
}
.aboutpainting{
    min-height: 450px;
    width: 830px;
    background-color: gray;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float:left;
    position: relative;
    z-index: 2;
}
.aboutphotography{
    min-height: 450px;
    width: 830px;
    background-color: gray;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    float:left;
    position: relative;
    z-index: 2;
}
p{
    margin-top: 0px;
}
.overlapped2 {
    width: 200px;
    background-color: dimgray;
    position: absolute;
    top: 50px;
    height: 1250px;
    margin-top: 150px;
    margin-left: 40px;
}
.overlapped92 {
    width: 200px;
    background-color: dimgray;
    position: absolute;
    top: 50px;
    height: 1100px;
    margin-top: 150px;
    margin-left: 40px;
}
.overlapped22 {
    width: 200px;
    background-color: dimgray;
    position: absolute;
    top: 50px;
    height: 1650px;
    margin-top: 150px;
    margin-left: 40px;
}
.overlapped12 {
    width: 200px;
    background-color: dimgray;
    position: absolute;
    top: 50px;
    height: 600px;
    margin-top: 150px;
    margin-left: 40px;
}
.overlapped3 {
    width: 900px;
    background-color: darkgray;
    position: absolute;
    top: 50px;
    height: 1200px;
    margin-top: 150px;
    margin-left: 10px;
}
.overlapped23 {
    width: 900px;
    background-color: darkgray;
    position: absolute;
    top: 50px;
    height: 1600px;
    margin-top: 150px;
    margin-left: 10px;
}
.overlapped13 {
    width: 900px;
    background-color: darkgray;
    position: absolute;
    top: 50px;
    height: 550px;
    margin-top: 150px;
    margin-left: 10px;
}
.overlapped93 {
    width: 950px;
    background-color: darkgray;
    position: absolute;
    top: 50px;
    height: 1050px;
    margin-top: 150px;
    margin-left: 10px;
}
.overlapped {
    width: 500px;
    background-color: gainsboro;
    position: absolute;
    top: 50px;
    height: 900px;
    margin-top: 150px;
    margin-left: 500px;
}
.overlapped9 {
    width: 500px;
    background-color: gainsboro;
    position: absolute;
    top: 50px;
    height: 900px;
    margin-top: 150px;
    margin-left: 500px;
}
.overlapped1 {
    width: 500px;
    background-color: gainsboro;
    position: absolute;
    top: 50px;
    height: 500px;
    margin-top: 150px;
    margin-left: 500px;
}
.overlapped21 {
    width: 500px;
    background-color: gainsboro;
    position: absolute;
    top: 50px;
    height: 1400px;
    margin-top: 150px;
    margin-left: 500px;
}
.image{
    height: 420px;
    width: 300px;
    position: absolute;
    top: 50px;
    margin-top: 170px;
    margin-left: 680px;
}
.details{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 50px;
    margin-top: 590px;
    margin-left: 750px;
}